<div>
    <a href="{{ product.url }}" title="{{ product.title | escape }}">
      <img
        src="{{ product.featured_image |  image_url: width: 300, height: 500 }}"
        alt="{{ product.title }}"
        width="300"
        height="500" />
      <h3>{{ product.title }}</h3>
    </a>
    <p>{{ product.price | money_with_currency }}</p>
    {{ product.title | link_to: product.url }}
    <a class="link" href="{{ product.url }}" class="product-link">View Product</a>
  </div>
